<div class="container">
  <form
    (ngSubmit)="registerOrg(regForm)"
    #regForm="ngForm"
    *ngIf="!successFlag"
  >
    <fieldset>
      <h2 class="text-center my-5">Edit Profile</h2>
      <div class="form-group">
        <label>Organization Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          #name="ngModel"
          [(ngModel)]="org.name"
          placeholder="Enter your organization name"
          required
        />
        <small class="form-text text-warning" *ngIf="name.invalid && name.dirty"
          >Name can't be empty</small
        >
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea
          class="form-control"
          rows="3"
          name="description"
          #description="ngModel"
          [(ngModel)]="org.description"
        ></textarea>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="regForm.pristin || regForm.invalid"
      >
        Save
      </button>
    </fieldset>
  </form>
</div>
