<div class="container">
    <div class="alert alert-dismissible alert-primary my-3 text-align-center">
      <strong>About Us</strong>
    </div>
    <div class="container pt-5">
      <p>
        We are a science-led global healthcare company with a special purpose: to help people do more, feel better, live longer.
        Our values are Patient focus, Transparency, Respect, Integrity.Our expectations are Courage, Accountability, Development, 
        Teamwork. We mainly focus on tracking the clinical vaccine trial for paticular patient and the organizations. Every day, 
        we help improve the health of millions of people around the world.
      </p>
      <p>
        Our R&D focuses on developing vaccines against infectious diseases that combine high medical need and strong market potential.
        A vaccine trial is a clinical trial that aims at establishing the safety and efficacy of a vaccine prior to it being licensed.
        Our Clinical Vaccine trial  services help reduce the cost of failure and increase the chance of clinical success.
      </p>
      <p>
        Success for us is when you, as our partner, are fully satisfied. We continuously improve and innovate to meet your expectations 
        and improve your chances of business success.Medicine never stands still. It constantly evolves, always advances. We are passionate 
        about helping customers take the next step, meet the next milestone and bring the next medicine to market, and we believe that when 
        we work together, anything is possible.
      </p>
      <p>
        The vaccines clinical trial  our portfolio have been helping to protect people from serious diseases. Today, our vaccines clinical 
        trial helps to tackle some of the world’s most devastating diseases, including pneumococcal disease, meningitis, hepatitis, rotavirus, 
        whooping cough and influenza.
      </p>
      </div>
      <div>