<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Vaccine dB</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About Us</a>
      </li>
    </ul>
  </div>
  <div class="form-inline my-2 my-lg-0">
    <button class="btn btn-primary" routerLink="signin">Login</button>
    <button class="btn btn-secondary" routerLink="register">Register</button>
  </div>
</nav>
