<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Vaccine dB</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About Us</a>
      </li>
      <li class="nav-item" *ngIf="!this.auth.isLoggedIn">
        <a class="nav-link" routerLink="/partners">Partners</a>
      </li>
      <li class="nav-item" *ngIf="!this.auth.isLoggedIn">
        <a class="nav-link" routerLink="/vaccines">Vaccines</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="home/patient">Patient Home</a>
      </li>
      -->

      <li class="nav-item" *ngIf="auth.currentuser">
        <a class="nav-link" routerLink="report/patient">Reports</a>
      </li>
      
      <!--
      <li class="nav-item">
        <a class="nav-link" routerLink="org/home">Org Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="org/edit-profile">Org Edit</a>
      </li>
      -->
    </ul>
  </div>
  <div class="form-inline my-2 my-lg-0">
    <button class="btn btn-primary" routerLink="signin" *ngIf="!this.auth.isLoggedIn">Login</button>
    <button class="btn btn-secondary" routerLink="register" *ngIf="!this.auth.isLoggedIn">Register</button>
    <!--
    <button class="btn btn-secondary" *ngIf="auth.currentuser">
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Profile</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="edit/profile/patient">Edit</a>
          <a class="dropdown-item" routerLink="delete/patient">Delete</a>
          <a class="dropdown-item" routerLink="/">Logout</a>
        </div>
      </li>
    </button>
-->
    <div class="dropdown" *ngIf="auth.currentuser">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Profile
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="/home/patient">My Profile</a>
        <a class="dropdown-item" routerLink="edit/profile/patient">Edit Profile</a>
        <a class="dropdown-item bg-danger" routerLink="delete/patient">Deactivate</a>
        <a class="dropdown-item" (click)="logout()" routerLink="/">Logout</a>
      </div>
    </div>

    <div class="dropdown" *ngIf="auth.currentorg">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Trials</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/start/trial">Start Trial</a>
          <a class="dropdown-item" routerLink="delete/org">End Trial</a>
        </div>
    </div>
    <div class="dropdown" *ngIf="auth.currentorg">
      <div class="dropdown" *ngIf="auth.currentorg">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Vaccine
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/org/vacc/add">Add Vaccine</a>
          <a class="dropdown-item" routerLink="/org/vacc/edit">Update Vaccine</a>
          <a class="dropdown-item" routerLink="/org/vacc">View Vaccines</a>
        </div>
      </div>
    </div>

    <div class="dropdown" *ngIf="auth.currentorg">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Profile
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="/home/patient">My Profile</a>
        <a class="dropdown-item" routerLink="edit/profile/org">Edit Profile</a>
        <a class="dropdown-item bg-danger" routerLink="delete/org">Deactivate</a>
        <a class="dropdown-item" (click)="logout()" routerLink="/">Logout</a>
      </div>
    </div>

  </div>
</nav>