<div class="container">
    <h2 class="text-center my-5">Patient Registration Form</h2>
    <form (ngSubmit)="patientSubmit(patRegForm)" #patRegForm="ngForm">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="pat.name"
                placeholder="Enter your name" required>
        </div>
        <div class="form-group">
            <label>Email address</label>
            <input type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="pat.email"
                placeholder="Enter your email address" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="passsword" #password="ngModel" [(ngModel)]="pat.password"
                placeholder="Password" required>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" name="cpasssword" placeholder="Re-enter your Password" required>
        </div>
        <div class="form-group">
            <label>Disease</label>
            <input type="text" class="form-control" name="disease" #disease="ngModel" [(ngModel)]="pat.disease"
                placeholder="Enter disease" required>
        </div>
        <div class="form-group">
            <label>Symptoms</label>
            <textarea rows="3" class="form-control" name="symptoms" #symptoms="ngModel" [(ngModel)]="pat.symptoms"
                placeholder="Enter symptoms" required></textarea>
        </div>
        <div class="form-group">
            <label>Medical History</label>
            <textarea rows="3" class="form-control" name="medicalHistory" #medicalHistory="ngModel"
                [(ngModel)]="pat.medicalHistory" placeholder="Enter previous medical history" required></textarea>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="pat.phone"
                placeholder="Enter phone number" required>
        </div>
        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" name="address" #address="ngModel" [(ngModel)]="pat.address"
                placeholder="Enter address" required>
        </div>
        <button type="submit" class="btn btn-primary"
            [disabled]="patRegForm.pristin || patRegForm.invalid">Submit</button>
    </form>

    <div class="card text-center mt-4" style="width: 320px; margin: auto; position: relative;" *ngIf="successFlag">
        <div class=" align-items-center text-white py-4" style="background-color: #8BC34A;">
            <i class="material-icons mt-5" style="font-size: 72px;">
                check_circle_outline
            </i>
            <h4 class="mb-5">SUCCESS</h4>
        </div>
        <div class="card-body py-5">
            <p class="card-text mt-3">You have been successfully signed up. Please click on the login button to continue
            </p>
            <br>
            <div class="d-flex text-center justify-content-around mb-3">
                <a routerLink="/signin" class="text-white btn rounded-pill" style="background-color: #8BC34A;">Login</a>
                <a routerLink="register/pat" (click)="registerbtn()" class="text-white btn rounded-pill"
                    style="background-color: #8BC34A;">Sign
                    Up</a>
            </div>
        </div>
    </div>

    <div class="alert alert-danger my-3" role="alert" *ngIf="errorFlag">
        <div class="d-flex justify-content-start align-items-center">
            <i class="material-icons md-28 mr-3" style="font-size: 28px;">
                highlight_off
            </i>
            <h4 class="alert-heading mb-0">
                Sign up unsuccessfull!
            </h4>
        </div>

        <hr />
        <p class="mb-0">Patient Already Registered</p>
    </div>

</div>