<div class="container">
    <h2 class="text-center my-5">Vaccines</h2>
    <div class="card my-2 text-white bg-dark mb-3" *ngFor="let vacc of auth.vaccines; let i=index">
        <div class="card-body">
            <h4 class="card-title">Vaccine : {{vacc.name}}</h4>
            <p class="card-text">Disease : {{vacc.disease}}</p>
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#patList{{vacc.vaccId}}" role="button"
                    aria-expanded="false" aria-controls="patList{{i}}" (click)="patName(vacc.vaccId);hideOthers(vacc.vaccId);">
                    View Patients
                </a>
            </p>            
        </div>
        <div class="collapse collapsing" id="patList{{vacc.vaccId}}">
            <div class="card card-body" *ngFor="let pat of patname">
                <h5 class="mb-1">Patient name: {{pat}}</h5>
            </div>
        </div>
    </div>
</div>