<div class="container">
  <h2 class="text-center my-5">START NEW TRIAL</h2>
  <form>
    <div class="form-group">
      <label>Select the vaccine </label>
      <div class="dropdown">
        <a class="btn btn-secondary btn-block d-flex align-items-center justify-content-between" style="background-color:lightgrey;" type="button" id="dropdownMenuButton" data-toggle="dropdown">
          {{vacname}}
          <i class="material-icons">
            arrow_drop_down
          </i>
        </a>
        <div class="dropdown-menu btn-block">
          <a *ngFor="let vacc of auth.vaccines" class="dropdown-item" (click)="vaccName(vacc.name)">{{vacc.name}}</a>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Select the patient</label>
      <div class="dropdown">
        <a class="btn btn-secondary btn-block d-flex align-items-center justify-content-between " style="background-color:lightgrey;" type="button" id="dropdownMenuButton" data-toggle="dropdown">
          {{patname}}
          <i class="material-icons">
            arrow_drop_down
          </i>
        </a>
        <div class="dropdown-menu btn-block">
          <a *ngFor="let pat of patients" class="dropdown-item" (click)="patName(pat.name)">{{pat.name}}</a>
        </div>
      </div>
    </div>
      <button type="submit" class="btn btn-primary" (click)="startTrial()">Start trial</button>
  </form>
</div>