<div class="container">
  <div class="container pt-5">
    <p>
        {{this.auth.currentorg.description}}
    </p>
<!--</div>
 <div class="btn-group" role="group" aria-label="Basic example">
  <a routerLink="/org/vacc/add">
    <button type="button" class="btn btn-primary">
      Register a new Vaccine
    </button>
  </a>
    <a routerLink="/org/vacc/edit">
      <button type="button" class="btn btn-primary">Update Vaccine</button>
    </a>
    <a routerLink="/org/newtest">
      <button type="button" class="btn btn-primary">Delete Vaccine</button>
    </a>
    <a routerLink="/org/newtest">
      <button type="button" class="btn btn-primary">Run a new Test</button>
    </a>
    <a routerLink="/org/edit-profile">
      <button type="button" class="btn btn-primary">Edit Profile</button>
    </a>
    <a routerLink="/org/changepassword">
      <button type="button" class="btn btn-primary">Change Password</button>
    </a>
    <a routerLink="/delete/org">
      <button type="button" class="btn btn-danger">Delete your Account</button>
    </a>
  </div>-->
</div>
