<div class="container">
  <div>To be filled w/ Organization Description</div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">
      Register a new Vaccine
    </button>
    <a routerLink="/org/newtest">
      <button type="button" class="btn btn-primary">Run a new Test</button>
    </a>
    <a routerLink="/org/edit">
      <button type="button" class="btn btn-primary">Edit Profile</button>
    </a>
    <a routerLink="/org/changepassword">
      <button type="button" class="btn btn-primary">Change Password</button>
    </a>
    <a routerLink="/org/delete">
      <button type="button" class="btn btn-danger">Delete your Account</button>
    </a>
  </div>
</div>
