<div class="container pt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title bold">Do not wait. Vaccinate!</h5>
      <p class="card-text">Protect yourself and your loved ones.</p>
    </div>
    <img
      class="card-img-bottom"
      src="assets/img/carousel1.jpg"
      alt="Card image cap"
    />
  </div>
  <br />
  <br />
  <p class="text-center textbig font-weight-bold">
    Welcome to VaccineDB we are a service to track the progress of various
    vaccines.
  </p>
  <br />
  <p class="text-large font-weight-bold">
    Get Informed! Watch our Infographic to get informed on the process of how
    exactly a vaccine is created.
  </p>
  <div class="mx-auto">
    <iframe
      width="1100rem"
      height="500rem"
      src="https://www.youtube.com/embed/4LwYOYZyPzw"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="mx-auto youtube-video"
    ></iframe>
  </div>
  <br />
  <p class="textbig text-danger">COVID-19 Pandemic</p>
  <p class="text-large font-weight-bold">
    Please Stay Home and Protect Yourself and Your Loved Ones. <br />
    Stay Home. Stay Safe. <br />
    <br />
    Watch the below Infographic to be informed about the common symptoms of
    COVID-19.
  </p>
  <br />
  <div class="mx-auto">
    <iframe
      width="1100rem"
      height="500rem"
      src="https://www.youtube.com/embed/U8r3oTVMtQ0"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="mx-auto youtube-video"
    ></iframe>
  </div>
  <br />
  <br />
</div>
