<div class="container">
    <div class="d-flex mt-5 pt-5 align-items-center justify-content-center">
        <a routerLink="/OrgRegister">
            <div class="card bg-dark mr-5 text-center justify-content-center" style="width: 14rem; height: 14rem;">
                <h4 class="text-white">Organization</h4>
            </div>
        </a>
        <a routerLink="/PatRegister">
            <div class="card text-white bg-dark text-center justify-content-center"
                style="width: 14rem; height: 14rem;">
                <h4 class="text-white">Patient</h4>
            </div>
        </a>
    </div>
</div>